## Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

## Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
таблицу с тремя типами выручки для каждого client_id без указания адреса клиента
аналогичную таблицу по типам выручки с указанием адреса клиента
Обратите внимание, что в процессе объединения таблиц данные не должны теряться.

## Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:
У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

## Задание 1

Используйте файл с оценками фильмов ml-latest-small/ratings.csv. Посчитайте среднее время жизни пользователей, которые выставили более 100 оценок. Под временем жизни понимается разница между максимальным и минимальным значением столбца timestamp для данного значения userId.

In [113]:
import pandas as pd

In [115]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [94]:
##ratings[ratings.userId.count() > 100].head()
###ratings.loc[ratings.userId.value_counts()> 100,:]
##ratings[ratings.userId.value_counts() > 100].head()
df = ratings.groupby('userId').agg({'rating':['size'],'timestamp':['min','max']}).reset_index()
df = df[df['rating']['size']>100]
round((df['timestamp']['max'] - df['timestamp']['min']).mean()/3600/24)

464

In [102]:
##Вопрос, здесь условие работает - результат False True, а как его вставить в фильтр датафрейм? 
#Можно ли условия такого типа вставлять в фильтр датафрейма или условие loc? когда результат вида False True - что с таким результатом можно сделать дальше
ниже пример
ratings.groupby('userId').count().rating > 100

userId
1      False
2      False
3      False
4       True
5      False
       ...
667    False
668    False
669    False
670    False
671     True
Name: rating, Length: 671, dtype: bool

In [104]:
#df[df.rating > 5.0]  работает фильтр с простым условием, 
#а с таким как  кatings.groupby('userId').count().rating > 100 не работает, я не так использую или он и не будет работать?
##и так не рботает ratings.loc[ratings.userId.value_counts()> 100,['userId,timestamp']]
#хотелось в одну строчку, но все по старинке - с пересохранением датафрейма
ratings[ratings.groupby('userId').count().rating > 100]

C:\Lena\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

## Задание 2

Дана статистика услуг перевозок клиентов компании по типам (см. файл с кодом занятия). Необходимо сформировать две таблицы:
* таблицу с тремя типами выручки для каждого client_id без указания адреса клиента 
* аналогичную таблицу по типам выручки с указанием адреса клиента

Обратите внимание, что в процессе объединения таблиц данные не должны теряться.
### К домашнему заданию, задача 2
Дана статистика услуг перевозок клиентов компании по типам:
- rzd - железнодорожные перевозки
- auto - автомобильные перевозки
- air - воздушные перевозки
- client_base - адреса клиентов

In [3]:
rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)
rzd

   client_id  rzd_revenue
0        111         1093
1        112         2810
2        113        10283
3        114         5774
4        115          981

In [4]:
auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)
auto

   client_id  auto_revenue
0        113         57483
1        114            83
2        115           912
3        116          4834
4        117            98

In [5]:
air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)
air

   client_id  air_revenue
0        115           81
1        116            4
2        117           13
3        118          173

In [7]:
client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)
client_base

   client_id          address
0        111  Комсомольская 4
1        112   Энтузиастов 8а
2        113  Левобережная 1а
3        114          Мира 14
4        115        ЗЖБИиДК 1
5        116    Строителей 18
6        117  Панфиловская 33
7        118     Мастеркова 4

In [13]:
#Таблица с тремя типами выручки по клиентам. 
#Я не стала группировать исходные таблицы по клиенту, так как на глаз видно, что они не повторяются
#Если бы датафрейм был с большим количеством строк - можно проверить на уникальность и сгрупировать по клиентам, проссумировав доход
new_df = (
    rzd.merge(auto, how = 'outer', on = 'client_id')
    .merge(air, how = 'outer', on = 'client_id')
    .fillna(0)
)
new_df

   client_id  rzd_revenue  auto_revenue  air_revenue
0        111       1093.0           0.0          0.0
1        112       2810.0           0.0          0.0
2        113      10283.0       57483.0          0.0
3        114       5774.0          83.0          0.0
4        115        981.0         912.0         81.0
5        116          0.0        4834.0          4.0
6        117          0.0          98.0         13.0
7        118          0.0           0.0        173.0

In [15]:
#Проверка на сохранность данных по сумме столбцов из исходных датафреймов
print(f'before rzd sum = {rzd.rzd_revenue.sum()}, after {new_df.rzd_revenue.sum()}')
print(f'before auto sum = {auto.auto_revenue.sum()}, after {new_df.auto_revenue.sum()}')
print(f'before air sum = {air.air_revenue.sum()}, after {new_df.air_revenue.sum()}')

before rzd sum = 20941, after 20941.0
before auto sum = 63410, after 63410.0
before air sum = 271, after 271.0

In [24]:
#Для объединения с таблицей адресов я выбрала левый джойн, убрав клиентов, которые не совершали перевозки
#Если все же условие задачи "Обратите внимание, что в процессе объединения таблиц данные не должны теряться." означает адреса
#даже не совершавшиx за этот период перевозок, тогда нужно выбрать outer join(условие я бы уточнила у заказчика)
df_address = new_df.merge(client_base, how = 'left', on = 'client_id')
df_address

   client_id  rzd_revenue  auto_revenue  air_revenue          address
0        111       1093.0           0.0          0.0  Комсомольская 4
1        112       2810.0           0.0          0.0   Энтузиастов 8а
2        113      10283.0       57483.0          0.0  Левобережная 1а
3        114       5774.0          83.0          0.0          Мира 14
4        115        981.0         912.0         81.0        ЗЖБИиДК 1
5        116          0.0        4834.0          4.0    Строителей 18
6        117          0.0          98.0         13.0  Панфиловская 33
7        118          0.0           0.0        173.0     Мастеркова 4

In [20]:
print(rzd.rzd_revenue.sum() == df_address.rzd_revenue.sum())
print(auto.auto_revenue.sum() == df_address.auto_revenue.sum())
print(air.air_revenue.sum() == df_address.air_revenue.sum())

True
True
True

## Задание 3

В задаче сквозной аналитики вам предоставили данные по местоположению пользователей. Т. е. для каждого user_id известна последовательность координат (широта/долгота), когда они требовались приложению для полноценной работы. Как бы вы добавили эти сведения в таблицу визитов и покупок? Для составления ответа можно использовать вопросы:
У каждого пользователя известен набор координат. А для связывания с визитом или фактом покупки скорее всего потребуется одно-два числа. Как их получить?
Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга. Как это отразится на вопросе расчетах пункта 1?
Какие дополнительные признаки можно получить из координат? Ведь это просто числа, которые сами по себе мало что дают.

1. В предоставленной таблице есть user_id, есть широта/долгота и есть ли дата? Если есть дата, тогда я бы соединила две таблицы по id пользователя и по дате
2. Если даты нет, тогда я упорядочила бы набор кординат по индексу по возрастанию,создала столбец с порядковым номером, и так же сгруппировала в наборы по юзерам и упорядочила визиты и покупки по возрастанию даты(или индекса, если даты нет) и так же присвоила порядковый номер в группе. Затем по id и порядковуму номеру соединила бы два датафрэйма(но это если каждый визит фиксировал долготу и широту - это можно проверив по длине набора долготы/широты .
3. по координатам можно вычислить место локации покупателя и связать с адресом покупки(хотя место заказа покупки и адрес доставки могут быть разными)
4. если это числа, можно набор представить в виде вектора и определить косинусное расстояние с другими покупателями, те которые схожи будут покупать схожие товары
5. так же можно определить какие локации каких товаров больше или меньше покупают, на складах тех мест можно хранить товар, который чаще покупают.
Не совсем понятен вопрос: "Наборы координат одного и того же пользователя могут быть значительно удалены друг от друга." - значит несколько наборов? но есть изначально условие противоречащее -  "У каждого пользователя известен набор координат." - тут единственное число.
Это рассуждения - в своей практике я не сталкивалась с координатами,возможно тогда была бы попонятливее)) а вообще я бы уточняла условия и изучала данные таблицы(какие поля есть в визитах и покупках и т д), задачи и предоставленные данные, формулы, числа - много чего можно сказать и вычислить