Домашнее задание

Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

## Задание 1 
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd
# DataFrame по рейтингам
data = pd.read_csv('ml-latest-small/ratings.csv')
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [3]:
# DataFrame по наименованиям фильма
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Отбор фильмов с оценками 5, группировка строк и сортировка по убыванию, 
#не поняла как вставить inplace, при данном варианте ниже -  не сохраняет датафрэйм
#data[data.rating == 5].groupby('movieId').count().sort_values('rating',ascending = False, inplace = True)
#data[data.rating == 5].movieId.value_counts() 
data = data[data.rating == 5].groupby('movieId').count().sort_values('rating',ascending = False)

In [5]:
data.head()

         userId  rating  timestamp
movieId
318         153     153        153
296         123     123        123
356         116     116        116
2571        109     109        109
260         104     104        104

In [8]:
# Соединение двух датафрэймов
data_movies = data.merge(movies, on = 'movieId', how = 'left')
data_movies.head()

,movieId,userId,rating,timestamp,title,genres
0,318,153,153,153,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,123,123,123,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,116,116,116,Forrest Gump (1994),Comedy|Drama|Romance|War
3,2571,109,109,109,"Matrix, The (1999)",Action|Sci-Fi|Thriller
4,260,104,104,104,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

In [9]:
#Ответ на Задание 1
print(f'Most rated 5.0 {data_movies.title[0]}.')

Most rated 5.0 Shawshank Redemption, The (1994).

## Задание 2 
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [10]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [11]:
#Поиск никмиенований стран Прибалтики
power[power.country.str.contains('Lit', case=False)].country.unique()

array(['Lithuania'], dtype=object)

In [12]:
power[ (power.quantity >= 0)&((power.country == 'Latvia')|(power.country == 'Lithuania')|(power.country == 'Estonia')) & ((power.category == 4)|(power.category == 12)|(power.category == 21)) & ((power.year >= 2005)&(power.year <= 2010))].head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [13]:
#Ответ Задание 2
power_num = power[ (power.quantity >= 0)&((power.country == 'Latvia')|(power.country == 'Lithuania')|(power.country == 'Estonia')) & ((power.category == 4)|(power.category == 12)|(power.category == 21)) & ((power.year >= 2005)&(power.year <= 2010))].quantity.sum()
power_num

240580.0

In [14]:
print(f'Суммарное потребление стран Прибалтики с 2005 по 2010 год включительно по категориям 4,12,21 равно {power_num}')

Суммарное потребление стран Прибалтики с 2005 по 2010 год включительно по категориям 4,12,21 равно 240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): https://fortrader.org/quotes https://www.finanz.ru/valyuty/v-realnom-vremeni

In [24]:
#Пробуем один сайт - таблиц не найдено(на сайтах мало данных оформленных в таблицу)
kino = pd.read_html('https://www.kinopoisk.ru/media/')
kino[0]

ValueError: No tables found

In [25]:
#Пробуем другой- выдает ошибку(отличается от случая выше, попробуем обойти)
bash = pd.read_html('https://bash.im')
bash

HTTPError: HTTP Error 403: Forbidden

In [26]:
#Нагуглили метод обойти ошибку, открыли URL-адрес - но таблиц там похоже нет
from urllib.request import Request, urlopen
req = Request('https://bash.im', headers={'User-Agent': 'Mozilla/5.0'})
webpage = urlopen(req).read()

In [27]:
type(webpage)

bytes

In [28]:
w = webpage.decode('utf-8')

In [35]:
w.strip().split('\n')[0:10]

['<!doctype html>',
 '<html theme="light" lang="ru" data-controller="index" aside="true">',
 '<head>',
 '  <meta charset="utf-8">',
 '  <title>Цитатник Рунета</title>',
 '  ',
 '  <meta name="format-detection" content="telephone=no">',
 '  <meta name="apple-mobile-web-app-capable" content="yes">',
 '  <meta name="theme-color" content="#f5f4f2">',
 '  <meta name="viewport" id="view" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,']

In [36]:
#Пробуем сайт, указанный в ДЗ
test = pd.read_html('https://fortrader.org/quotes')
tab = test[1]

In [37]:
print(type(tab))
test[1].head()

<class 'pandas.core.frame.DataFrame'>

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  Нефть (BRENT) Курс нефти сегодня  41.86      -0.13         -0.31        NaN
1   Нефть (WTI) Цены на нефть (WTI)  38.91      -0.10         -0.26        NaN
2          Сахар котировки на сахар  12.63      11.31        856.82        NaN
3                   Газ Цена на газ   1.80       0.00          0.00        NaN

In [32]:
#Другой сайт
tabl= pd.read_html('https://pythonworld.ru/tipy-dannyx-v-python/stroki-funkcii-i-metody-strok.html')
tabl[0].head()

,Функция или метод,Назначение
0,"S = 'str'; S = ""str""; S = '''str'''; S = """"""st...",Литералы строк
1,"S = ""s\np\ta\nbbb""",Экранированные последовательности
2,"S = r""C:\temp\new""",Неформатированные строки (подавляют экранирова...
3,"S = b""byte""",Строка байтов
4,S1 + S2,Конкатенация (сложение строк)